In [1]:
import re

In [3]:
re.match('[A-Z]', "A")

In [5]:
re.match('[A-Z][A-Z][A-Z]', "A")

In [6]:
re.match('[A-Z][A-Z][A-Z]', "A") is None

True

In [7]:
re.match('[A-Z][A-Z][A-Z]', "GEG") is None

False

In [8]:
re.match('[A-Z][A-Z][A-Z]', "GEG")

In [9]:
re.match('[A-Z]{3}', "GEG")

In [12]:
re.match('[A-Z]{3,5}', "GEG")

In [15]:
re.match('^[A-Z]{3}$', "GEGE")
# ^ is beginng of string, $ is end of string

In [16]:
re.match('^[A-Z]{3}$', "_GEG")

In [17]:
830-550

280

In [18]:
830 // 100

8

In [19]:
830 % 60

50

In [20]:
ah = 830 // 100 + (830 % 100)/60

In [21]:
ah

8.5

In [22]:
dh = 550 // 100 + (550 % 100)/60

In [23]:
dh

5.833333333333333

In [24]:
ah - dh

2.666666666666667

In [25]:
t = ah - dh

In [26]:
t // 1

2.0

In [27]:
(t // 1) * 100 + (t % 1)*60

240.0

In [28]:
ah = 130

In [29]:
dh = 2215

In [30]:
def hrs(hmin):
    return (hmin // 100) + (hmin % 100)/60

In [31]:
hrs(ah)

1.5

In [32]:
hrs(ah) - hrs(dh)

-20.75

In [33]:
hrs(ah) - hrs(dh) + 24

3.25

In [34]:
import pandas as pd

In [35]:
f = pd.DataFrame({'a':[130, 1440], 'd':[2220, 1200]})

In [36]:
f

      a     d
0   130  2220
1  1440  1200

In [37]:
f['dur'] = hrs(f.a) - hrs(f.d)

In [38]:
f

      a     d        dur
0   130  2220 -20.833333
1  1440  1200   2.666667

In [40]:
import numpy as np
f['dur'] = np.where(f.dur > 0, f.dur, f.dur + 24)

In [41]:
f

      a     d       dur
0   130  2220  3.166667
1  1440  1200  2.666667