In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('./nycflights13.csv.bz2', '\t')

In [8]:
df.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')

The variables in the dataset are 'year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay', 'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight', 'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute', and 'time_hour'

In [11]:
df.shape

(336776, 19)

There were 336776 flights out of NYC in 2013

In [14]:
df.origin.value_counts()

EWR    120835
JFK    111279
LGA    104662
Name: origin, dtype: int64

There are 3 NYC airports in this data: EWR, JFK, LGA

In [15]:
df.dest.nunique()

105

The airlines flew into 105 airports

In [17]:
df[df['dest'] == 'SEA'].shape

(3923, 19)

There were 3923 flights from NYC to Seattle

In [18]:
df[df['dest'] == 'GEG'].shape

(0, 19)

There were no flights from NYC to Spokane

In [20]:
df.dest.str.match('[A-Z]{3}$').value_counts()

True    336776
Name: dest, dtype: int64

There are no missing or invalid destination codes.

I was able to answer all the questions with the provided data. However, only for the first question does it specify that we want info about flights in 2013, which is provided in this data. For the rest, we had to assume that it is referring to 2013 data.